@import "tailwindcss";

:root {
  --background: #020618;
  --foreground: #90A1B9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020618;
    --foreground: #90A1B9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Code", monospace;
}